/* media-layout.html과 연결 */
@charset "utf-8";

/* 모바일 기준 */
*{margin: 0; padding: 0;}
#container{width: 100%; margin: 0 auto; background-color: pink;} 
header{height: 100px; color: navy;}
section{height: 600px; color: ivory;}
footer{height: 100px; color: navy;}

/* 태블릿 기준 */
@media screen and (min-width: 780px) {
    #container{background-color: navajowhite;}
}

/* pc 기준 */
@media screen and (min-width:1024px) {
    #container{width: 1024px; background-color: lightgray;}
    
}