/* recruit.html에 연결 */
body{background-color:  #02233b; width: 800px;}
   
    #container{width: 600px; height: 700px; margin: 0 auto; padding: 1px 20px;
    background: url(../images/mic.png) no-repeat right bottom; 
    background-color: white;
    }

    h1{background-color: #004344; color: white; text-align:center; padding: 20px;}
    h2{text-align: center; font-style: italic;}
    h3{color: orange; margin-left: 15px;}
    ul li{list-style: none; line-height: 2;}
